/**
 * Place your custom styles here.
 */
footer {
    background: #DBD8CE;
    color: #404040;
    border-top: 1px solid #ededed;
}
#footer-section {
    float: left;
    clear: left;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    border-top: 1px solid #bfc7ca;
}
#footer-third h2 {
 font-weight: 600;
color: #1091D9;
font-size: 24px;
}
body.front .page-header {
    display: none;
}
.footer-wrapper {
    margin-bottom: 2em;
}

.view-bank-lists table td {
    padding: 12px 15px;
}
.view-bank-lists table {
    width: 100%;
}

.project-item-inner {
    overflow: hidden;
    position: relative;
}
.project-details {
    display: none;
        width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100;
    display: none;
    text-align: center;
    overflow: hidden;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
#welcome-user-block strong {
    color: #1091D9;
}